PORT=
DATABASE_URI=
JWT_SECRET_KEY=
NODE_ENV=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYPAL_CLIENT_ID=
EMAIL_USER=
EMAIL_PASS=
FRONTEND_URL=
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=